<!-- start: BREADCRUMB -->


<!-- end: BREADCRUMB -->
<div class="container">

	<div class="contact-heading-x clearfix">
		<div class="pull-left heading-txt-cont-x">
			<h2 class="contact-page-header">My Contacts</h2>
			<p class="contact-update-count">
				<span>213 Total Contacts</span>
				<span class="mini-v-bar"></span>
				<span>Last Updated
					<b>Yesterday June 4, 2016
					</b>
				</span>
			</p>
		</div>
		<div class="pull-right">
			<button class="btn add-contact-x">
				<img width="12px" src="assets/images/main/add_lg.svg" alt="phonebook">
				<span class="crm-btn-txt-x">Add Contacts</span>
			</button>
			<button class="btn merge-contact-x">
				<img width="14px" src="assets/images/main/merge.svg" alt="phonebook">
				<span class="crm-btn-txt-x">Merge Contacts</span>
			</button>
		</div>
	</div>
	<div class="contact-table-container">
		<div class="pull-left">
			<ul id="letter-x">
				<li class="active">A</li>
				<li>b</li>
				<li>c</li>
				<li>d</li>
				<li>e</li>
				<li>f</li>
				<li>g</li>
				<li>h</li>
				<li>i</li>
				<li>j</li>
				<li>k</li>
				<li>l</li>
				<li>m</li>
				<li>n</li>
				<li>o</li>
				<li>p</li>
				<li>q</li>
				<li>r</li>
				<li>s</li>
				<li>t</li>
				<li>u</li>
				<li>v</li>
				<li>w</li>
				<li>x</li>
				<li>y</li>
				<li>z</li>
			</ul>
		</div>
		<table class="table table-striped table-hover" id="contact-table-header">
			<thead>
				<tr>
					<th class="center">
						<input type="checkbox" name="select-all" id="checkall">
					</th>
					<th>Family Name</th>
					<th>City
						<img width="11px" src="assets/images/main/filter.svg" alt="phonebook">
					</th>
					<th>Contact &#x23;</th>
					<th>Adviser
						<img width="11px" src="assets/images/main/filter.svg" alt="phonebook">
					</th>
					<th>Client Type
						<img width="11px" src="assets/images/main/filter.svg" alt="phonebook">
					</th>
					<th>
						<form role="search" class="navbar-form main-search">
							<div class="form-group">
								<input type="text" placeholder="{{ 'search.PLACEHOLDER' | translate }}" class="form-control">
								<button class="btn search-button" type="submit">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</form>
					</th>
				</tr>
			</thead>
			<tbody class="contact-table-body-x">
				<tr ng-repeat="contact in contacts">
					<td class="center">

						<input type="checkbox" name="select" class="select-contact">

					</td>
					<td>
						<a ui-sref="app.viewcontacts({id:contact.FamilyID})">{{ contact.FamilyFullName }} </a>
					</td>
					<td>{{ contact.City }}</td>
					<td>{{ contact.ClientContact }}</td>
					<td>{{ contact.Adviser }}</td>
					<td>{{ contact.ClientType }}</td>
					<td class="center">
						<button class="btn contact-edit-x" type="submit">
							<img width="11px" src="assets/images/main/edit.svg" alt="phonebook">
						</button>
						<button class="btn contact-del-x" type="submit">
							<img width="11px" src="assets/images/main/delete.svg" alt="phonebook">
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>











<!-- start: LAYOUTS -->
<div>
</div>
<!-- end: LAYOUTS -->

<!-- background: linear-gradient(to right, red , yellow); -->