<!-- start: LOGIN -->
<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
        <div class="logo text-center">
            <img src="assets/images/branding.svg" alt="">
        </div>
        
        <!-- start: LOGIN BOX -->
        <div class="box-login">
            <form class="form-login" action="index.html">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group form-actions">

                    <input type="password" class="form-control password" name="password" placeholder="Password">

                </div>
                <div class="text-center">
                    <a ui-sref="login.forgot"> I forgot my password </a>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-red btn-block green-x">
                        Login
                    </button>
                    <div class="checkbox clip-check check-primary">
                        <input type="checkbox" id="remember" value="1">
                        <label for="remember"> Keep me signed in </label>
                    </div>
                </div>
                <div class="new-account text-center">
                    
                </div>
            </form>
            <!-- start: COPYRIGHT -->
            <div class="copyright">
                {{app.year}} &copy; {{ app.name }} by
            </div>
            <!-- end: COPYRIGHT -->
        </div>
        <!-- end: LOGIN BOX -->
    </div>
</div>
<style>
    body {
        background: #1A1639;
    }
</style>
<!-- end: LOGIN -->
