<!-- start: BREADCRUMB -->
<div class="container">
    <ul class="steps steps-5">
        <li>
            <a ui-sref="app.layouts" title="">
                <i class="fa fa-phone-square"></i> Contacts
            </a>
        </li>
        <li>
            {{ family.FamilyFullName }}
        </li>
    </ul>
</div>
<!-- end: BREADCRUMB -->
<div class="container">
    <div class="panel-body">
        <div class="clearfix inline-div-c">
            <div class="inline-div v-mid">
                <h2>{{ family.FamilyFullName }}</h2>
            </div>
            <div class="inline-div v-mid inlin-btn">
                <button class="btn micro-btn-x violet-x">
                    <i class="fa fa-envelope-o"></i> Send Email</button>
                <button class="btn micro-btn-x blue-x">
                    <i class="fa fa-inbox"></i> Send Mail</button>
                <button class="btn micro-btn-x green-x">
                    <i class="fa fa-print"></i> Print Summary</button>
            </div>
            <p class="inline-div summary-x-count v-mid">
                <span>Last Updated
                    <b>Yesterday June 4, 2016
                    </b>
                </span>
            </p>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-9 bg-white">
                <div class="panel panel-white">
                    <uib-tabset class="tabbable">
                        <uib-tab heading="SUMMARY">
                            <div class="alert alert-info">
                                <button data-ct-dismiss="alert" class="close">
                                    <i class="fa fa-times times-x"></i>
                                </button>
                                <i class="fa fa-info-circle info-circle-x"></i>
                                &nbsp; No address added to this client . To get directions, please add an address.
                            </div>
                            <div class="row clear">
                                <div class="col-sm-12 col-md-12 col-lg-5 semi-panel-x">
                                    <div class="semi-panel-body-x clearfix">
                                        <div class="clearfix bot-15-x">
                                            <p class="semi-panel-heading-x pull-left">Clients</p>
                                            <p class="call-to-action-x pull-right">view details</p>
                                        </div>
                                        <div class="semi-panel-tbl-x">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>Adult</td>
                                                        <td>Mr. Cristie Adams</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Children</td>
                                                        <td>
                                                            <span class="disabled">[ No Children Listed ]</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Phone</td>
                                                        <td>123.475-1293</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email</td>
                                                        <td>
                                                            <a class="hyphenate" href="mailto:{{ family_info.MainEmail }}"> {{ family_info.MainEmail }}</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>address</td>
                                                        <td>
                                                            <div class="map=container">
                                                                <img width="100%" src="assets/images/main/map.jpg" alt="">
                                                            </div>
                                                            <p class="adress-info-x">
                                                                {{ family_info.Addresses[0].formatted_address }}
                                                                <!-- #34 Princeton Building 56 Mapple Boulevard Road 2, Dunedin 6004 NEW ZEALAND -->
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-7 semi-panel-x">
                                    <div class="semi-panel-body-x">
                                        <div class="clearfix bot-15-x">
                                            <p class="semi-panel-heading-x pull-left">Loans</p>
                                            <p class="call-to-action-x pull-right">view details</p>
                                        </div>
                                        <div class="semi-panel-tbl-x-2">

                                            <table class="table table-striped">
                                                <tbody ng-if="no_loans">
                                                    <tr>
                                                        <td>$120,000</td>
                                                        <td>
                                                            <p> Borrowed by Cristie from
                                                                <b>Wespac</b>
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <a href="#">Submitted to Lender
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>$120,000</td>
                                                        <td>
                                                            <p> Borrowed by Cristie from
                                                                <b>Wespac</b>
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <a href="#">Submitted to Lender
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody>

                                                    <tr ng-repeat="loan in loans">
                                                        <td>$ {{ loan.LoanAmount }}</td>
                                                        <td>
                                                            <p> Borrowed by {{ loan.Borrower[0].FirstName }} {{ loan.Borrower[0].LastName
                                                                }} from
                                                                <b>{{ loan.Lender.LenderName }}</b>
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <a href="#">{{ loan.LoanStatus.LoanStatusName }}
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="semi-panel-body-x">
                                        <div class="clearfix bot-15-x">
                                            <p class="semi-panel-heading-x pull-left">Exisiting Benefits
                                                <span class="table-counter">3</span>
                                            </p>
                                            <p class="call-to-action-x pull-right">view details</p>
                                        </div>
                                        <div class="semi-panel-tbl-x-3">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <td>Benefit</td>
                                                        <td>Cover Amt / Excess</td>
                                                        <td>Insurer</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Trauma Cover</td>
                                                        <td>$68,000</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Car Accident</td>
                                                        <td>$55,000 Annually
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Disability</td>
                                                        <td>$68,000</td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="CLIENTS" active="active">
                            <div class="clearfix client-cta-1" ng-controller="addClientCtrl">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-sm green-x">
                                        <img width="9px" src="assets/images/main/add_sm.svg" alt=""> Add Existing</button>
                                    <button type="submit" class="btn btn-primary btn-sm violet-x" ng-click="open('lg')">
                                        <img width="9px" src="assets/images/main/add_sm.svg" alt=""> Add Client</button>
                                </div>
                            </div>
                            <table id="client_details" class="table">
                                <thead>
                                    <tr>
                                        <td>Name</td>
                                        <td>Preffered Name</td>
                                        <td>DOB</td>
                                        <td>Gender</td>
                                        <td>Somker</td>
                                        <td>Phone</td>
                                        <td>Role</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="client in clients">
                                        <td>
                                            {{ client.FullName }}
                                        </td>
                                        <td>
                                            {{ client.PreferredName }}
                                        </td>
                                        <td>
                                            {{ client.DateOfBirth | date }}
                                        </td>
                                        <td>
                                            {{ client.Gender }}
                                        </td>
                                        <td>
                                            {{ client.SmokerStatus }}
                                        </td>
                                        <td>
                                            <ul>
                                                <li ng-repeat="number in client.Phone">
                                                    <span class="icon-x {{ number.Type }}"></span> {{ number.Number }}
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            {{ client.Role }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix top-30 bot-10">
                                <p class="info-heading-o pull-left">Relationships</p>
                                <div class="pull-right client-cta-2" ng-controller="addrelCtrl">
                                    <button type="submit" class="btn btn-primary btn-sm violet-x" ng-click="open(xs)">
                                        <img width="9px" src="assets/images/main/add_sm.svg" alt=""> Add Relationships</button>
                                </div>
                            </div>
                            <div class="client-container rela-cont-x">
                                <p id="relationship-text">No Relationships Added</p>
                            </div>
                            <div class="container clearfix remove-padd top-30 bot-10">
                                <p class="info-heading-o">Contact Information</p>
                            </div>
                            <div class="client-container contact-info">
                                <div class="row container">
                                    <div class="col-xs-12 col-md-12 col-lg-6">
                                        <form class="form-horizontal address-form-x" action="/action_page.php">
                                            <p class="info-heading-o">Home Address</p>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="pwd">Address</label>
                                                <div class="col-sm-6">
                                                    <textarea name="test" id="1x0" rows="10">{{family_info.Addresses[0].formatted_address}}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox">Same as Mailing Address</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="info-heading-o">Mailing Address</p>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4" for="pwd">Address</label>
                                                <div class="col-sm-6">
                                                    <textarea name="test" id="1s0" rows="10"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">Include in marketing
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">Include in newsletters
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-xs-12 col-md-12 col-lg-6">
                                        <div class="form-mini-cont">
                                            <form class="form-horizontal client-form-mini-x">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 remove-padd" for="pwd">
                                                        <span>adviser</span>
                                                    </label>
                                                    <div class="col-sm-7 remove-padd">
                                                        <input type="text" class="form-control" value="{{ family_info.AdviserFullName }}">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 remove-padd" for="pwd">
                                                        <span>email</span>
                                                    </label>
                                                    <div class="col-sm-7 remove-padd">
                                                        <input type="text" class="form-control" value="{{ family_info.MainEmail }}">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 remove-padd" for="pwd">
                                                        <span>Client Type</span>
                                                    </label>
                                                    <div class="col-sm-7 remove-padd">
                                                        <input type="text" class="form-control" value="{{ family_info.MainEmail }}">
                                                    </div>
                                                    <div class="col-sm-1 remove-padd pad-l-10">
                                                        <button class="btn btn-sm add-infox">
                                                            <img width="9px" src="assets/images/main/add_sm.svg" alt="">
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 remove-padd" for="pwd">
                                                        <span>Rating</span>
                                                    </label>
                                                    <div class="col-sm-7 remove-padd">
                                                        <input type="password" class="form-control">
                                                    </div>
                                                    <div class="col-sm-1 remove-padd pad-l-10">
                                                        <button class="btn btn-sm add-infox">
                                                            <img width="9px" src="assets/images/main/add_sm.svg" alt="">
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 remove-padd" for="pwd">
                                                        <span>Review Month</span>
                                                    </label>
                                                    <div class="col-sm-7 remove-padd">
                                                        <input type="password" class="form-control">
                                                    </div>
                                                    <div class="col-sm-1 remove-padd pad-l-10">
                                                        <button class="btn btn-sm add-infox">
                                                            <img width="9px" src="assets/images/main/add_sm.svg" alt="">
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 remove-padd" for="pwd">
                                                        <span>Reference Code</span>
                                                    </label>
                                                    <div class="col-sm-7 remove-padd">
                                                        <input type="text" class="form-control" value="{{ family_info.ReferenceCode }}">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 remove-padd" for="pwd">
                                                        <span>Reference Source</span>
                                                    </label>
                                                    <div class="col-sm-7 remove-padd">
                                                        <input type="password" class="form-control">
                                                    </div>
                                                    <div class="col-sm-1 remove-padd pad-l-10">
                                                        <button class="btn btn-sm add-infox">
                                                            <img width="9px" src="assets/images/main/add_sm.svg" alt="">
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 remove-padd" for="pwd">
                                                        <span>Categories</span>
                                                    </label>
                                                    <div class="col-sm-7 remove-padd">
                                                        <input type="password" class="form-control">
                                                    </div>
                                                    <div class="col-sm-1 remove-padd pad-l-10">
                                                        <button class="btn btn-sm add-infox">
                                                            <img width="9px" src="assets/images/main/add_sm.svg" alt="">
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="LOANS">
                            <h4>Static content</h4>
                            <p>
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
                                facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.
                            </p>
                        </uib-tab>
                        <uib-tab heading="INSURANCE">
                            <h4>Static content</h4>
                            <p>
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
                                facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.
                            </p>
                        </uib-tab>
                        <uib-tab heading="FINANCIAL">
                            <h4>Static content</h4>
                            <p>
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
                                facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.
                            </p>
                        </uib-tab>
                        <uib-tab heading="WORKFLOW">
                            <h4>Static content</h4>
                            <p>
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
                                facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.
                            </p>
                        </uib-tab>
                        <uib-tab heading="RECORDS">
                            <h4>Static content</h4>
                            <p>
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
                                facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.
                            </p>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="bg-white mini-panel-a">
                    <h2 class="heading-mria-x">
                        <i class="fa fa-tag"></i> TAGGED TO {{ family.ClientFirstName }}
                        <span class="call-to-action-x pull-right">
                            <i class="fa fa-chevron-down"></i>
                        </span>
                    </h2>
                    <div class="notes-entry">
                        <button type="submit" class="btn btn-sm tagged-x" ng-repeat="tag in tagged_list">
                            {{ tag.ActivityDetails }}</button>
                        <button type="submit" class="btn btn-sm create-notes">
                            <i class="fa fa-plus"></i> Create Tag</button>
                    </div>
                </div>
                <div class="bg-white mini-panel-a">
                    <h2 class="heading-mria-x">
                        <i class="fa fa-list"></i> ACTIVE TASK
                        <span class="dis-a">INACTIVE TASK</span>
                    </h2>
                    <div class="checklist-container">
                        <div class="checklist-item">
                            <div class="input-box">
                                <input type="checkbox" name="" id="">
                            </div>
                            <div class="input-label">
                                <p class="bold">Meeting
                                    <span class="list-status-x">DUE TODAY</span>
                                </p>
                                <p>Set meeting for Insurance Application</p>
                                <p class="ligter-v">
                                    <i class="fa fa-user"></i> James Punnett
                                </p>
                            </div>
                        </div>
                        <div class="checklist-item">
                            <div class="input-box">
                                <input type="checkbox" name="" id="">
                            </div>
                            <div class="input-label">
                                <p class="bold">Submit Report
                                    <span class="list-status-x">DUE TODAY</span>
                                </p>
                                <p>Send Details to Loan Market</p>
                                <p class="ligter-v">
                                    <i class="fa fa-user"></i> Claurence Marketer
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white mini-panel-a">
                    <h2 class="heading-mria-x bor-bot">
                        <i class="fa fa-bookmark"></i> RECENT ACTIVITY
                        <span class="call-to-action-x pull-right">VIEW ALL</span>
                    </h2>
                    <div class="activity-entry">
                        <div class="activity-badge">
                            <a href="#" class="btn">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        <div class="activity-content">
                            <div class="activity-title">
                                <p class="hyphenate">Follow up email sent
                                    <span class="pull-right"> &bull; 1 Aug</span>
                                </p>
                            </div>
                            <div class="activity-details">
                                <p class="hyphenate">sent to
                                    <a href="mailto:c.adams@gmail.com">c.adams@gmail.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="activity-entry">
                        <div class="activity-badge">
                            <a href="#" class="btn">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        <div class="activity-content">
                            <div class="activity-title">
                                <p>1 Task Completed
                                    <span class="pull-right"> &bull; 29 Jul</span>
                                </p>
                            </div>
                            <div class="activity-details">
                                <p>
                                    This is a sample of a name of a task
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white mini-panel-a">
                    <h2 class="heading-mria-x">
                        <i class="fa fa-sticky-note"></i> NOTES
                        <span class="table-counter" style="padding:1px 6px 5px">3</span>
                        <span class="call-to-action-x pull-right">VIEW ALL</span>
                    </h2>
                    <div class="notes-entry">
                        <p class="notes-heading bold">
                            Note heading sample
                        </p>
                        <p>
                            Sea fifth was grass seasons one rule. Beginning earth them bearing.
                        </p>
                    </div>
                    <div class="notes-control">
                        <button type="submit" class="btn btn-sm create-notes">
                            <i class="fa fa-plus"></i> Create Note</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
        TITILE
        FIRST name
        middle Name
        last Name
        Preffered Name
        role
        birthday
        geneder
        No birthday reminder
        deceased
        
        Home Phone
        Business Phone
        mobile Phone    
        best time to call
        email address   
        Smoker
        occupation
        employer/company -->
<script type="text/ng-template" id="add_rel.html">
<div class="modal-header clearfix">
    <h3 class="modal-title pull-left">Add Relationship</h3>
    <span class="pull-right">
        <i class="fa fa-times"></i>
    </span>

</div>
<div class="modal-body clearfix client-form-mini-x">
    <form class="form-horizontal" id="add_rel_form">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">first name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" ng-model="newclient.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">ENTITY name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" ng-model="newclient.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">ENTITY type</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" ng-model="newclient.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">address</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" placeholder="" ng-model="newclient.FirstName">
                            </textarea>
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">Mobile</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" ng-model="newclient.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">Phone</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" ng-model="newclient.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">fax</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="" ng-model="newclient.FirstName">
                            </div>
                    </div>
                    <div>
                        <button class="col-xs-12 btn btn-lg green-x pull-right" ng-click="save_client(newclient)">Save Contact and Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</script>


<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header clearfix" >
            <h3 class="modal-title pull-left">Add Client</h3>
            <button class="btn green-x pull-right" ng-click="save_client(newclient)">Save Contact and Close</button>
        
        </div>
        <div class="modal-body">
            <form class="form-horizontal" id="add_form">
                <div class="row client-form-mini-x">
        
                    <div class="col-xs-12 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Personal Information</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="pwd">title</label>
                                    <div class="col-sm-7 xbj">
                                        <select class="form-control" id="cadd-title" ng-model="newclient.Title">
                                            <option value="? undefined:undefined ?"></option>
                                            <option value="Mr">Mr</option>
                                            <option value="Mrs">Mrs</option>
                                            <option value="Ms">Ms</option>
                                            <option value="Miss">Miss</option>
                                            <option value="Dr">Dr</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="pwd">first name</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"   placeholder="" ng-model="newclient.FirstName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="pwd">middle name:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"   placeholder="" ng-model="newclient.MiddleName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="pwd">last name</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"   placeholder="" ng-model="newclient.LastName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="pwd">preffered name</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"   placeholder="" ng-model="newclient.PreferredName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="pwd">role</label>
                                    <div class="col-sm-7  xbj">
                                        <select class="form-control" ng-model="newclient.Role" style="">
                                            <option value="? undefined:undefined ?"></option>
                                            <option value="Adult">Adult</option>
                                            <option value="Child">Child</option>
                                            <option value="Other">Other</option>
                                            <option value="Guarantor">Guarantor</option>
                                            <option value="Policy Owner">Policy Owner</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="pwd">birthday</label>
                                    <div class="col-sm-7">
                                        <input type="date" class="form-control"   placeholder="" ng-model="newclient.DateOfBirthx">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="pwd">role</label>
                                    <div class="col-sm-7">
                                        <ul class="x-radio">
                                            <li>
                                                <input type="radio"   name="newclient.Gender" value="Male" required/>
                                                <label for="a25">Male</label>
                                            </li>
                                            <li>
                                                <input type="radio"  name="newclient.Gender" value="Female" />
                                                <label for="a50">Female</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="pwd"></label>
                                    <div class="col-sm-7">
                                        <label class="cb-x">No Birthday Reminder
                                            <input type="checkbox" ng-model="newclient.DOBReminder" value="true">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="cb-x">Deceased
                                            <input type="checkbox"  ng-model="newclient.Deceased" value="true">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">Additional Information</div>
                                <div class="panel-body">
                                        
                                            <div class="form-group">
                                                <label class="control-label col-sm-5" for="pwd">home phone</label>
                                                <div class="col-sm-7">
                                                        <input type="text" class="form-control"   placeholder="" ng-model="home_number">
                                                        
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-5" for="pwd">Business phone</label>
                                                <div class="col-sm-7">
                                                        <input type="text" class="form-control"   placeholder="" ng-model="work_number">
                                                        
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                    <label class="control-label col-sm-5" for="pwd">Mobile phone</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control"   placeholder="" ng-model="mobile_number">
                                                        
                                                    </div>
                                                </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-5" for="pwd">Best time to call</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control"   placeholder="" ng-model="newclient.BestTimeToCall">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-5" for="pwd">Email address</label>
                                                <div class="col-sm-7">
                                                    <input type="eamil" class="form-control"   placeholder="" ng-model="newclient.Email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                    <label class="control-label col-sm-5" for="pwd">Somker</label>
                                                    <div class="col-sm-7">
                                                        <ul class="x-radio">
                                                            <li>
                                                                <input type="radio"   name="newclient.SmokerStatus" value="Yes"/>
                                                                <label for="a25">Yes</label>
                                                            </li>
                                                            <li>
                                                                <input type="radio"  name="newclient.SmokerStatus" value="No" />
                                                                <label for="a50">No</label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-5" for="pwd">OCCUPATION</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control"   placeholder="" ng-model="newclient.Occupation">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                    <label class="control-label col-sm-5" for="pwd"></label>
                                                    <div class="col-sm-1 special-marg-x">
                                                        <span>OR</span>
                                                    </div>
                                                    <div class="col-sm-4 remove-padd">
                                                            <select class="form-control" ng-model="newclient.OccupationClass" style="">
                                                                <option value="? undefined:undefined ?"></option>
                                                                <option value="1">CLASS 1</option>
                                                                <option value="2">CLASS 2</option>
                                                                <option value="3">CLASS 3</option>
                                                                    <option value="4">CLASS 4</option>
                                                                    <option value="5">CLASS 5</option>      
                                                                </select>
                                                    </div>
                                                    <div class="col-sm-1 remove-padd pad-2">
                                                            <span id="x-tooltip"><i class="fa fa-question-circle"></i></span>
                                                        </div>
                                                    
                                                </div>
                                                <div class="form-group">
                                                        <label class="control-label col-sm-5" for="pwd">employer/company</label>
                                                        <div class="col-sm-7">
                                                            <input type="text" class="form-control"   placeholder="" ng-model="newclient.Employer">
                                                        </div>
                                                    </div>
                                          
                                </div>
                            </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                            <div class="panel panel-default">
                                    <div class="panel-heading">Client Notes</div>
                                    <div class="panel-body">
                                        <textarea ng-model="newclient.Notes" class="form-control full-ta"></textarea>
                        </div>
                    </div>
                </div>

            </div>
    </form>
    </div>

    </script>
    <!-- background: linear-gradient(to right, red , yellow); -->