<!DOCTYPE html>
<html lang="en" data-ng-app="app">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="{{app.description}}">
	<meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<title data-ng-bind="pageTitle()">MyCRM</title>
	<!-- Google fonts -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic"
	 rel="stylesheet" type="text/css" />
	<!-- Packet CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.2.0/ng-tags-input.min.css" />
	<link rel="stylesheet" href="assets/css/app.css">
	<!-- Packet Theme -->
	<link rel="stylesheet" data-ng-href="assets/css/themes/{{ app.layout.theme }}.css" />
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" />
</head>

<body ng-controller="AppCtrl">
	<div ui-view id="app" class="lyt-2" ng-class="{'app-mobile' : app.isMobile, 'app-navbar-fixed' : app.layout.isNavbarFixed, 'app-sidebar-fixed' : app.layout.isSidebarFixed, 'app-sidebar-closed':app.layout.isSidebarClosed, 'app-footer-fixed':app.layout.isFooterFixed}"></div>
	<!-- Packet Scripts -->
	<script src="assets/js/app.src.js"></script>
	<script src="assets/js/controllers/myCRMCtrl.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.2.0/ng-tags-input.min.js"></script>
	
	<style>
		/* BREAD */

		.steps {
			margin-top: 25px;
			padding: 0;
			overflow: hidden;
			margin-bottom:0px;
		}

		.steps a {
			color: #2dbfc1 !important;
			text-decoration: none;
		}

		.steps em {
			display: block;
			font-size: 1.1em;
			font-weight: bold;
		}

		.steps li {
			color:#5f5566;
			float: left;
			margin-left: 0;

			/* 100 / number of steps */
			/* total height */
			list-style-type: none;
			padding: 4px 5px 4px 20px;
			/* padding around text, last should include arrow width */
			border-right: 2px solid #fff;
			/* width: gap between arrows, color: background of document */
			position: relative;
		}

		/* remove extra padding on the first object since it doesn't have an arrow to the left */

		.steps li:first-child {
			padding-left: 15px;
		}

		/* white arrow to the left to "erase" background (starting from the 2nd object) */

		.steps li:nth-child(n+2)::before {
			position: absolute;
			top: 0;
			left: 0;
			display: block;

			/* width: half height */
			width: 0;
			height: 0;
			content: " ";
		}

		.steps li:nth-child(n+2)::before,
		.steps li::after {
			border-left: 11px solid #f2eff5;
			border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;
			/* colored arrow to the right */
		}

		.steps li::after {
			z-index: 1;
			/* need to bring this above the next item */
			position: absolute;
			top: 0;
			right: -10px;
			/* arrow width (negated) */
			display: block;

			/* width: half height */
			width: 0;
			height: 0;
			content: " ";
		}

		/* Setup colors (both the background and the arrow) */

		/* Completed */

		.steps li {
			background-color: #fff;
		}

		.steps li::after {
			border-left-color: #fff;
		}

		/* Current */

		.steps li.current {
			background-color: #C36615;
		}

		.steps li.current::after {
			border-left-color: #C36615;
		}

		/* Following */

		.steps li.current~li {
			background-color: #EBEBEB;
		}

		.steps li.current~li::after {
			border-left-color: #EBEBEB;
		}

		/* Hover for completed and current */

		/* END OF BREAD */
	</style>
</body>

</html>