/* ---------------------------------------------------------------------- */
/*  Layout2 - Theme 1
/* ---------------------------------------------------------------------- */
::-moz-selection {
  background: #58748b;
  text-shadow: none;
  color: #ffffff;
}

::selection {
  background: #58748b;
  text-shadow: none;
  color: #ffffff;
}

body {
  background: #f0f3f4;
}

@media (max-width: 991px) {
  .app-content {
    background: #f0f3f4;
  }
}

.navbar .navbar-header {
  text-align: center;
  background: #1b133a !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  text-align: center;
}
.navbar .navbar-header .sidebar-toggler,
.navbar .navbar-header .sidebar-mobile-toggler {
  color: #ffffff !important;
}
.navbar .navbar-header .navbar-brand {
  color: #ffffff !important;
  width: 100%;
}
.navbar .navbar-header .menu-toggler {
  color: rgba(255, 255, 255, 0.7) !important;
}
.navbar .navbar-header .menu-toggler:hover {
  color: white !important;
}
.navbar .navbar-header .sidebar-mobile-toggler {
  background-color: #7266ba !important;
  border-color: #7266ba !important;
  color: #ffffff !important;
}
.navbar .navbar-header .sidebar-mobile-toggler > i {
  color: #ffffff !important;
}
.navbar .navbar-header .sidebar-mobile-toggler:hover {
  background-color: #9289ca !important;
  border-color: #9289ca !important;
  color: #ffffff !important;
}
.navbar .navbar-header .sidebar-mobile-toggler:active,
.navbar .navbar-header .sidebar-mobile-toggler.active,
.navbar .navbar-header .sidebar-mobile-toggler.active:focus,
.navbar .navbar-header .sidebar-mobile-toggler:active:focus,
.navbar .navbar-header .sidebar-mobile-toggler:active:hover,
.navbar .navbar-header .sidebar-mobile-toggler.dropdown-toggle:active:hover {
  background-color: #6254b2 !important;
  border-color: #6254b2 !important;
}
.navbar .navbar-header .sidebar-mobile-toggler:focus {
  background-color: #a39bd2 !important;
  border-color: #a39bd2 !important;
  color: #ffffff !important;
}
.navbar .navbar-header .sidebar-mobile-toggler.disabled:hover,
.navbar .navbar-header .sidebar-mobile-toggler.disabled:focus,
.navbar .navbar-header .sidebar-mobile-toggler.disabled:active,
.navbar .navbar-header .sidebar-mobile-toggler.disabled.active,
.navbar .navbar-header .sidebar-mobile-toggler[disabled],
.navbar .navbar-header .sidebar-mobile-toggler[disabled]:hover,
.navbar .navbar-header .sidebar-mobile-toggler[disabled]:focus,
.navbar .navbar-header .sidebar-mobile-toggler[disabled]:active,
.navbar .navbar-header .sidebar-mobile-toggler[disabled].active,
fieldset[disabled] .navbar .navbar-header .sidebar-mobile-toggler:hover,
fieldset[disabled] .navbar .navbar-header .sidebar-mobile-toggler:focus,
fieldset[disabled] .navbar .navbar-header .sidebar-mobile-toggler:active,
fieldset[disabled] .navbar .navbar-header .sidebar-mobile-toggler.active {
  background-color: #b3acda !important;
  border-color: #b3acda !important;
  color: #ffffff !important;
}
.navbar .navbar-collapse {
  background: #f3f3f4 !important;
  border-bottom-color: #e7eaec !important;
  box-shadow: none !important;
}
@media (min-width: 768px) {
  .navbar .navbar-collapse .navbar-left > li:before {
    background: -moz-linear-gradient(
      top,
      rgba(51, 51, 51, 0) 0%,
      rgba(51, 51, 51, 0.2) 50%,
      rgba(51, 51, 51, 0) 100%
    );
    /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(51, 51, 51, 0) 0%,
      rgba(51, 51, 51, 0.2) 50%,
      rgba(51, 51, 51, 0) 100%
    );
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(51, 51, 51, 0) 0%,
      rgba(51, 51, 51, 0.2) 50%,
      rgba(51, 51, 51, 0) 100%
    );
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$collapseText-color, endColorstr=$collapseText-color,GradientType=0 );
    /* IE6-9 */
  }
}
.navbar .navbar-collapse .navbar-left > li .main-search .form-control {
  color: #333 !important;
}
.navbar
  .navbar-collapse
  .navbar-left
  > li
  .main-search
  .form-control::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.3) !important;
}
.navbar
  .navbar-collapse
  .navbar-left
  > li
  .main-search
  .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(51, 51, 51, 0.3) !important;
}
.navbar
  .navbar-collapse
  .navbar-left
  > li
  .main-search
  .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(51, 51, 51, 0.3) !important;
}
.navbar
  .navbar-collapse
  .navbar-left
  > li
  .main-search
  .form-control:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.3) !important;
}
.navbar .navbar-collapse .navbar-left > li .main-search .search-button {
  color: rgba(51, 51, 51, 0.7);
}
.navbar .navbar-collapse .navbar-left > li .main-search .search-button:hover,
.navbar .navbar-collapse .navbar-left > li .main-search .search-button:active,
.navbar .navbar-collapse .navbar-left > li .main-search .search-button:focus {
  color: #333333;
}
.navbar .navbar-collapse .navbar-left > li > a {
  color: rgba(51, 51, 51, 0.7);
}

.navbar .navbar-collapse .navbar-left > li > a:hover {
  color: #333333;
}
.navbar .navbar-collapse .navbar-left > li > a:hover i {
  color: #333333 !important;
}
@media (max-width: 767px) {
  .navbar .navbar-collapse .navbar-left > li {
    border-bottom: 1px solid black !important;
  }
}
.navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn {
  background-color: #7266ba;
  border-color: #7266ba;
  color: #9b88aa !important;
}
.navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn > i {
  color: #fff !important;
}
.navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn:hover {
  color: #ffffff !important;
}
.navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn:active,
.navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn.active,
.navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn.active:focus,
.navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn:active:focus,
.navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn:active:hover,
.navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn.dropdown-toggle:active:hover {
}
.navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn:focus {
  background-color: #a39bd2;
  border-color: #a39bd2;
  color: #ffffff !important;
}
.navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn.disabled:hover,
.navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn.disabled:focus,
.navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn.disabled:active,
.navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn.disabled.active,
.navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn[disabled],
.navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn[disabled]:hover,
.navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn[disabled]:focus,
.navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn[disabled]:active,
.navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn[disabled].active,
fieldset[disabled]
  .navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn:hover,
fieldset[disabled]
  .navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn:focus,
fieldset[disabled]
  .navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn:active,
fieldset[disabled]
  .navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn.active {
  background-color: #b3acda;
  border-color: #b3acda;
  color: #ffffff !important;
}
@media (min-width: 768px) {
  .navbar .navbar-collapse .navbar-right > li:before {
    background: -moz-linear-gradient(
      top,
      rgba(51, 51, 51, 0) 0%,
      rgba(51, 51, 51, 0.2) 50%,
      rgba(51, 51, 51, 0) 100%
    );
    /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(51, 51, 51, 0) 0%,
      rgba(51, 51, 51, 0.2) 50%,
      rgba(51, 51, 51, 0) 100%
    );
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(51, 51, 51, 0) 0%,
      rgba(51, 51, 51, 0.2) 50%,
      rgba(51, 51, 51, 0) 100%
    );
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$collapseText-color, endColorstr=$collapseText-color,GradientType=0 );
    /* IE6-9 */
  }
}
.navbar .navbar-collapse .navbar-right > li > a {
  color: rgba(51, 51, 51, 0.7);
}
.navbar .navbar-collapse .navbar-right > li > a i {
  color: rgba(51, 51, 51, 0.7) !important;
}
.navbar .navbar-collapse .navbar-right > li > a:hover {
  color: #333333;
}
.navbar .navbar-collapse .navbar-right > li > a:hover i {
  color: #333333 !important;
}
.navbar .navbar-collapse .navbar-right .angular-notifications-icon {
  background: #7266ba;
}
@media (max-width: 991px) {
  .navbar .navbar-collapse {
    background: #1c2b36 !important;
    box-shadow: none;
    border-bottom-color: transparent !important;
  }
  .navbar .navbar-collapse .navbar-right > li > a {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar .navbar-collapse .navbar-right > li > a i {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .navbar .navbar-collapse .navbar-right > li > a:hover {
    color: white;
  }
  .navbar .navbar-collapse .navbar-right > li > a:hover i {
    color: white !important;
  }
  .navbar .navbar-collapse .navbar-right > li.open {
    background: #0e161b !important;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .navbar .navbar-collapse .navbar-right > li {
    border-bottom: 1px solid black !important;
  }
}

@media (max-width: 767px) {
  .navbar .navbar-collapse {
    background: #020304 !important;
  }
  .navbar .navbar-collapse .close-handle {
    background: #020304;
  }
  .navbar .navbar-collapse .close-handle .arrow-left,
  .navbar .navbar-collapse .close-handle .arrow-right {
    background-color: #ffffff;
  }
  .navbar .navbar-collapse .navbar-right .current-user a i {
    color: #ffffff !important;
    background: rgba(255, 255, 255, 0.3);
  }
}
.navbar .dropdown-off-sidebar {
  border-left-color: #e7eaec !important;
  background: #f3f3f4 !important;
  color: rgba(51, 51, 51, 0.7) !important;
}
@media (min-width: 768px) {
  .navbar .dropdown-off-sidebar:hover {
    color: #333333 !important;
  }
}
@media (max-width: 991px) {
  .navbar .dropdown-off-sidebar {
    background: #1c2b36 !important;
    border-left-color: transparent !important;
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .navbar .dropdown-off-sidebar:hover {
    color: white !important;
  }
}

#sidebar {
  background: #1c2b36;
}
@media (min-width: 992px) {
  #sidebar:before {
    background-color: #1c2b36 !important;
    z-index: 0;
  }
}
@media (min-width: 992px) {
  #sidebar:after {
    background-color: #1c2b36;
  }
}
#sidebar .nav-user-wrapper {
  background: none !important;
}
#sidebar .nav-user-wrapper .media-body .media-heading {
  color: #ffffff !important;
}
#sidebar .nav-user-wrapper .media-body .text-small {
  color: #a7b1c2 !important;
}
#sidebar .nav-user-wrapper .dropdown-toggle {
  color: #a7b1c2 !important;
}
#sidebar .nav-user-wrapper .dropdown-toggle:hover {
  color: #ffffff !important;
}
#sidebar .sidebar-container {
  background: #1b133a !important;
}
#sidebar > div nav .navbar-title {
  color: #a7b1c2;
}
@media (min-width: 992px) {
  #sidebar > div nav:before {
    background: #1c2b36;
  }
  #sidebar > div nav:after {
    background: #1c2b36;
  }
}
#sidebar > div nav > ul > li a {
  color: #c8c4cb;
}
#sidebar > div nav > ul > li a .icon-arrow {
  color: #c8c4cb;
}

#sidebar > div nav > ul > li.open,
#sidebar > div nav > ul > li:hover {
  background: linear-gradient(to right, #2f2754, #1f183e) !important;
}

#sidebar > div nav > ul > li.open > a,
#sidebar > div nav > ul > li:hover > a {
  color: #ffffff !important;
}
#sidebar > div nav > ul > li.open > a .icon-arrow,
#sidebar > div nav > ul > li:hover > a .icon-arrow {
  color: #ffffff;
}
#sidebar > div nav > ul > li .letter-icon-wrapper {
  background: #1c2b36 !important;
}
#sidebar > div nav > ul > li.active {
  background: linear-gradient(to right, #2f2754, #1f183e) !important;
  border-color: #7266ba !important;
}
#sidebar > div nav > ul > li.active.open,
#sidebar > div nav > ul > li.active:hover {
  background: linear-gradient(to right, #2f2754, #1f183e) !important;
}
#sidebar > div nav > ul > li.active .letter-icon-wrapper {
  background: #7266ba !important;
}
#sidebar > div nav > ul > li.active > a {
  color: #c8c4cb !important;
}
#sidebar > div nav > ul > li.active > a .icon-arrow,
#sidebar > div nav > ul > li.active > a i {
  color: #c8c4cb;
}
#sidebar > div nav .folders .letter-icon-wrapper {
  background: #c8c4cb !important;
}

.no-touch ul.sub-menu li:hover {
  background: none !important;
}
.no-touch ul.sub-menu li:hover > a,
.no-touch ul.sub-menu li:hover > a i {
  color: #ffffff !important;
}
ul.sub-menu li.open {
  background: none !important;
}
ul.sub-menu li.open > a,
ul.sub-menu li.open > a i {
  color: #ffffff !important;
}
ul.sub-menu li.active,
ul.sub-menu li.active:hover {
  background: #101b23 !important;
}

.app-sidebar-closed #sidebar > div nav > ul > li.open {
  background: none !important;
}
.app-sidebar-closed #sidebar > div nav > ul > li:hover,
.app-sidebar-closed #sidebar > div nav > ul > li.hover {
  background: #15232d !important;
}
.app-sidebar-closed #sidebar > div nav > ul > li:hover > a,
.app-sidebar-closed #sidebar > div nav > ul > li.hover > a {
  color: #ffffff !important;
}
.app-sidebar-closed #sidebar > div nav > ul > li.active,
.app-sidebar-closed #sidebar > div nav > ul > li.active.open {
  background: #15232d !important;
}
@media (min-width: 992px) {
  .app-sidebar-closed .app-aside > .item-inner {
    background-color: #1c2b36 !important;
  }
  .app-sidebar-closed .app-aside > .item-inner > .title {
    color: #ffffff !important;
  }
  .app-sidebar-closed .app-aside > .item-inner:before {
    border-color: #15232d;
  }
  .app-sidebar-closed .app-aside > .item-inner.active {
    background-color: #7266ba !important;
  }
  .app-sidebar-closed .app-aside > .item-inner.active:before {
    border-color: #15232d;
  }
  .app-sidebar-closed .app-aside ul.sub-menu {
    background: #1f3342 !important;
    border: #1f3342 !important;
  }
  .app-sidebar-closed .app-aside ul.sub-menu > li a {
    color: #a7b1c2;
  }
  .app-sidebar-closed .app-aside ul.sub-menu > li a .icon-arrow {
    color: #a7b1c2;
  }
  .app-sidebar-closed .app-aside ul.sub-menu > li:hover > a,
  .app-sidebar-closed .app-aside ul.sub-menu > li.active > a,
  .app-sidebar-closed .app-aside ul.sub-menu > li.active.open > a {
    color: #ffffff;
  }
  .app-sidebar-closed .app-aside ul.sub-menu > li:hover > a .icon-arrow,
  .app-sidebar-closed .app-aside ul.sub-menu > li.active > a .icon-arrow,
  .app-sidebar-closed .app-aside ul.sub-menu > li.active.open > a .icon-arrow {
    color: #ffffff;
  }
  .app-sidebar-closed .app-aside ul.sub-menu > li > a {
    color: #a7b1c2;
  }
  .app-sidebar-closed .app-aside ul.sub-menu > li > a .icon-arrow {
    color: #a7b1c2;
  }
}

.main-content {
  background: #f0f3f4 !important;
}

#app > footer {
  background-color: #f0f3f4 !important;
}

#loading-bar .bar {
  background: #7266ba !important;
}

#customise-theme-x img path {
  fill: #40a7b8;
}

.launch-icon-button {
  background: #31bfc1 !important;
}

.recently-viewed-x img {
  vertical-align: text-top;
}

.recently-viewed-x {
  background: #54498e !important;
}

.bars-drop-down {
  background: transparent !important;
  color: #9b88aa !important;
}

.navbar
  .navbar-collapse
  .navbar-left
  > li.sidebar-toggler-wrapper
  .btn.bars-drop-down
  > i {
  color: #9b88aa !important;
}

.angle-right-x i {
  font-size: 10px !important;
  vertical-align: top;
  margin-top: 3px;
  text-align: right;
  margin-right: 0 !important;
}

.lyt-2 #sidebar > div nav > ul > li {
  padding-right: 25px;
}

#sidebar > div nav > ul > li.active {
  border-style: none !important;
  border-width: 0 !important;
}

.padd-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

#upper_navbar li:before {
  background: transparent !important;
}

.navbar .navbar-left > li > a i {
  color: #9b88aa !important;
}

.current-user-name {
  color: #5f5566;
}
.current-user-name span {
  color: #2dbfc1;
  margin-right: 14px;
}

#gear-x img path {
  fill: #000;
}
@media (min-width: 768px) {
  .navbar .navbar-left > li > .main-search .form-control {
    background: none !important;
    border: none !important;
    font-size: 14px !important;
    height: 30px !important;
    margin: 0;
    z-index: 2000;
    color: #ffffff !important;
    padding-right: 30px !important;
  }
  .navbar .navbar-left > li > .main-search .search-button,
  .navbar .navbar-left > li > a,
  .navbar .navbar-left > li.sidebar-toggler-wrapper > div {
    line-height: 1px !important;
  }
  #upper_nav_bar_container .navbar-collapse {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .navbar .navbar-left > li > a {
    padding-top: 10px;
  }

  .navbar .navbar-left > li > .main-search .search-button {
    padding-top: 9px;
  }
  .navbar .navbar-left > li > .main-search .form-control {
    border: 1px solid #dbd9dc !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    height: 33px !important;
  }
  .current-user-name {
    line-height: 35px;
  }
  .current-user-name:after {
    content: "";
    height: 17px;
    vertical-align: text-top;
    margin-left: 15px;
    margin-top: -2px;
    display: inline-block;
    width: 1px;
    border-left: 1px solid #ccc;
  }

  .navbar .navbar-right > li > a {
    line-height: 35px;
  }
  .navbar .navbar-right > li > a {
    padding: 0 !important;
  }
}
.navbar .navbar-collapse .navbar-right > li:before {
  background: transparent !important;
}

.navbar .navbar-collapse .navbar-right > li > a i {
  padding-top: 10px;
  color: #a291b0 !important;
}

#upper_nav_bar_container
  > div.navbar-collapse.collapse
  > ul.nav.navbar-right.ng-isolate-scope
  > li
  > a
  > notification-icon
  > div
  > div.angular-notifications-icon.overlay
  > div {
  display: none;
}

.navbar
  .navbar-right
  > li
  > a
  .angular-notifications-container
  .angular-notifications-icon {
  height: 10px !important;
  min-width: 10px !important;
  padding-top: 0 !important;
  top: 5px !important;
  line-height: 0px !important;
  right: -5px;
}

#customise-theme-x > a > div > div.item-inner > span.title {
  color: #3baebb;
}

.navbar .navbar-collapse .navbar-right .angular-notifications-icon {
  background: #eb8b8b;
}

.navbar-brand {
  border-bottom: 1px solid #100b25; /* rgba();*/
}

.crm-btn-txt-x {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 600;
  vertical-align: middle;
  color: #fff !important;
}

.add-contact-x {
  width: 128px;
  text-align: center;
  background-color: #2dbfc1;
}

.merge-contact-x {
  background-color: #ccc9d0;
  width: 134px;
  text-align: center;
  margin-left: 10px;
}

.contact-heading-x {
  padding-top: 30px;
  padding-bottom: 25px;
}
.contact-page-header {
  float: left;
}

.contact-update-count {
  padding-top: 10px;
  margin-left: 40px;
  float: left;
  color: #5f5566;
  height: 19px;
}
.contact-update-count > span {
  vertical-align: middle;
  color: #5f5566;
}

.mini-v-bar {
  height: 15px;
  margin: 0 20px;
  width: 1px;
  border-left: 1px solid #ccc;
}

.contact-table-container {
  padding: 0 45px 0 0px;
  background: #fff;
}

#contact-table-header > thead > tr > th {
  padding: 10px 0 0 !important;
  color: #83738d !important;
}
.contact-table-body-x a {
  color: #83738d !important;
}
.contact-table-body-x > th {
  padding-left: 15px;
}
.contact-table-body-x > tr > th,
.contact-table-body-x > tr > td {
  color: #83738d !important;
  padding: 8.5px 0 !important;
  font-weight: 400 !important;
}

.table-striped > tbody > tr {
  background: #f5f2f8 !important;
}
.table-striped > tbody > tr:nth-child(2n + 1) {
  background: #fff !important;
}
#contact-table-header > thead > tr > th.center,
#contact-table-header > tbody > tr > th {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.table-hover > tbody > tr:hover {
  background: #feffe6 !important;
}
.table-hover > tbody > .active-x > td,
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background: #feffe6 !important;
}

#contact-table-header > thead > tr > th:nth-child(7) > form {
  background: transparent;
}

#contact-table-header > thead > tr > th:nth-child(7) > form > div > input {
  border: 1px solid #ccc !important;

  height: 30px;
  font-weight: 500;
}
.contact-del-x,
.contact-edit-x {
  border-radius: 50%;
  padding: 0 6px 3px;
  background: transparent;
}
.contact-del-x:hover,
.contact-edit-x:hover {
  background: #f59393;
}

.navbar-title.last {
  height: 50px;
  border-top: 1px solid #100b25;
}

.navbar-title.last > span {
  padding-top: 20px;
  display: inline-block;
  text-transform: none;
}

.contact-table-container {
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-bottom: 1px solid #d2c5d8;
}
.table > tbody > tr > td:last-child {
  border-right: 1px solid #d2c5d8;
}

.table > tbody > tr > td:first-child {
  border-left: 1px solid #d2c5d8;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td {
  border-left: none;
  border-right: none;
}

.panel-tabs,
.tabbable {
  background: transparent;
}

.panel-white,
.partition-white {
  border-style: none;
}

.nav-tabs > li.active a,
.nav-tabs > li.active a:hover,
.nav-tabs > li.active a:focus p.nav-tabs > li.active a,
.nav-tabs > li.active a:hover,
.nav-tabs > li.active a:focus {
  border-width: 1px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: #faf8fb; /* For browsers that do not support gradients */
  background: linear-gradient(
    #faf8fb,
    #fff
  ); /* Standard syntax (must be last) */
  color: #705e7b;
  font-weight: 600;
}
.nav-tabs > li > a {
  color: #705e7b;
}
.nav-tabs > .active a,
.nav-tabs > .active a:hover,
.nav-tabs > .active a:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.alert-info {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #5897cf;
  color: #fff;
  font-weight: bolder;
}
.times-x {
  -webkit-text-stroke: 3px #5b9bd1;
  vertical-align: top;
  margin-top: -2px;
}
.info-circle-x {
  font-size: 15px;
}
.semi-panel-x > div.semi-panel-body-x {
  border: 1px solid #d3ccd6;
  padding: 15px 20px;
  border-radius: 7.5px;
}
.call-to-action-x {
  text-transform: uppercase;
  font-weight: bold;
  color: #2dbfc1;
  cursor: pointer;
  font-size: 11px;
  line-height: 25px;
  margin-bottom: 0;
}
.semi-panel-tbl-x-2 > table > tbody > tr > td a {
  font-weight: bolder;
  color: #2dbfc1;
}
.semi-panel-tbl-x-2 > table > tbody > tr > td p {
  margin-bottom: 0;
}
.semi-panel-tbl-x-2 > table > tbody > tr > td,
.semi-panel-tbl-x > table > tbody > tr > td {
  padding: 15px 20px;
}
.semi-panel-tbl-x > table > tbody > tr > td:first-child {
  text-transform: uppercase;
  background: #f5f2f8;
  font-weight: bold;
  vertical-align: top;
  color: #83738d;
  border-right: 1px solid #d3ccd6;
}
.semi-panel-tbl-x > table > tbody > tr > td:nth-child(2) {
  color: #6d4d83;
}
.semi-panel-tbl-x > table > tbody > tr > td:nth-child(2) .disabled {
  color: #6d4d83;
  opacity: 0.5;
}
.semi-panel-tbl-x > table > tbody > tr > td:nth-child(2) > a {
  color: #2dbfc1;
  font-weight: bold;
}
div.semi-panel-tbl-x-2 > table > tbody > tr:first-child > td,
div.semi-panel-tbl-x > table > tbody > tr:first-child > td {
  border-top: 1px solid #d3ccd6;
}
div.semi-panel-tbl-x-2 > table > tbody > tr:nth-child(1) > td:nth-child(3),
div.semi-panel-tbl-x > table > tbody > tr:nth-child(1) > td:nth-child(2) {
  border-top-right-radius: 5px;
}
div.semi-panel-tbl-x-2 > table > tbody > tr:nth-child(1) > td:nth-child(1),
div.semi-panel-tbl-x > table > tbody > tr:nth-child(1) > td:nth-child(1) {
  border-top-left-radius: 5px;
}
div.semi-panel-tbl-x > table > tbody > tr:last-child > td:first-child,
div.semi-panel-tbl-x-2 > table > tbody > tr:last-child > td:first-child
/* div.semi-panel-tbl-x-2 > table > tbody > tr:last-child > td:first-child, { */
 {
  border-bottom-left-radius: 5px;
}
div.semi-panel-tbl-x-2 > table > tbody > tr > td:last-child {
  border-right: 1px solid #d3ccd6;
}
div.semi-panel-tbl-x-2 > table > tbody > tr > td:first-child {
  border-left: 1px solid #d3ccd6;
}
div.semi-panel-tbl-x > table > tbody > tr:last-child > td:last-child,
div.semi-panel-tbl-x-2 > table > tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 5px;
}
.bot-15-x {
  margin-bottom: 2px;
}
p.semi-panel-heading-x.pull-left {
  font-weight: bolder;
  font-size: 1.15em;
  font-weight: bolder !important;
  color: #705e7b;
}
.adress-info-x {
  margin-top: 10px;
}
.semi-panel-body-x {
  margin-bottom: 15px;
}
.table-counter {
  line-height: 20px;
  background: #a18eaf;
  color: #fff;
  font-size: 11px;
  font-weight: normal;
  padding: 1px 4.5px;
  margin-left: 5px;
  vertical-align: bottom;
  border-radius: 50%;
}
.semi-panel-tbl-x td,
.semi-panel-tbl-x-2 td,
.semi-panel-tbl-x-3 td {
  font-size: 13px;
}
.semi-panel-tbl-x-3 > table > thead > tr > td {
  border-top: 1px solid #d3ccd6 !important;
  font-weight: bolder;
  color: #705e7b;
  text-align: center;
}
.semi-panel-tbl-x-3 > table > tbody > tr > td:first-child {
  font-weight: bold;
}
.semi-panel-tbl-x-3 > table > tbody > tr > td {
  color: #6d4d83;
  text-align: center;
}
.semi-panel-tbl-x-3 > table > thead > tr > td:first-child {
  border-top-left-radius: 5px;
  border-left: 1px solid #d3ccd6 !important;
}
.semi-panel-tbl-x-3 > table > thead > tr > td:last-child {
  border-top-right-radius: 5px;
}
.semi-panel-tbl-x-3 > table > thead > tr > td {
  border-right: 1px solid #d3ccd6 !important;
}
.semi-panel-tbl-x-3 td:first-child {
  border-left: 1px solid #d3ccd6 !important;
}
.semi-panel-tbl-x-3 td {
  border-right: 1px solid #d3ccd6 !important;
  padding: 15px 20px !important;
}
.bg-white {
  padding-top: 20px;
}
.micro-btn-x {
  padding: 2px 5px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border-radius: 2px;
}
.violet-x {
  background: #544890;
  border-style: none;
}
.blue-x {
  background: #5b9bd1;
  border-style: none;
}
.green-x {
  background: #2dbfc1;
  border-style: none;
}
.summary-x-count {
  display: inline;
  vertical-align: middle;
}
.inline-div {
  display: inline-block;
}
.v-mid {
  vertical-align: middle;
}
.inlin-btn {
  margin: -10px 15px 0 15px;
}
/* CYAN 2dbfc1 */
/* #violet 705e7b */
.breadcrumb-wrapper {
  background: transparent;
  border-style: none;
}
.mini-panel-a {
  padding: 15px 20px 0;
  margin-bottom: 10px;
}
.heading-mria-x {
  color: #6d4d83 !important;
  font-weight: bolder;
  font-size: 14px;
  padding-bottom: 15px;
  margin: 0px;
}
.checklist-item {
  border-top: 1px solid #efe9f3;
  padding: 15px 0;
}
.dis-a {
  opacity: 0.5;
  margin-left: 10px;
}
.input-label,
.input-box {
  display: inline-block;
}
.input-box {
  width: 10%;
  max-width: 20px;
  vertical-align: top;
}
.input-label {
  width: 88%;
  max-width: 300px;
}
.input-label p {
  margin-bottom: 1px;
  color: #705e7b;
  font-size: 12px;
}
.bold {
  font-weight: bold;
}
.list-status-x {
  color: #fff;
  background: #f68f8f;
  font-size: 85%;
  padding: 2.5px 3px;
  margin-left: 5px;
  text-transform: capitalize;
}
.ligter-v {
  color: #9b88aa;
}
.input-box input[type="checkbox"] {
  margin-top: 2px 0 0;
}
.notes-entry {
  color: #705e7b;
  padding: 15px 0;
  border-top: 1px solid #efe9f3;
}
.notes-control {
  border-top: 1px solid #efe9f3;
  padding: 15px 0;
}
.notes-entry p {
  margin-bottom: 4px;
}
.create-notes {
  background: #2dbfc1;
  color: #fff;
}
.activity-badge {
  display: inline-block;
  
  width: 14%;
  vertical-align: top;
}
.activity-badge a {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
}
.activity-content {
  width: 78%;
  display: inline-block;
  min-width: 100px;
}
.activity-title p {
  color: #705e7b;
  font-weight: bold;
  margin: 0;
}
.activity-title p span {
  font-weight: normal;
}
.activity-details p a {
  color: #2dbfc1;
  font-weight: bold;
}
.activity-entry {
  margin: 10px 0;
}
.bor-bot {
  margin-bottom: 20px;
  border-bottom: 1px solid #efe9f3;
}
.mini-panel-a .fa,
.activity-entry .fa {
  color: #9b88aa;
}
#client_details ul {
  list-style-type: none;
  padding: 0;
}
#client_details > tbody > tr > td,
#client_details > thead > tr > td {
  border-top: 1px solid #e4dee9 !important;
  border-right: 1px solid #e4dee9 !important;
}
#client_details > tbody > tr > td:first-child,
#client_details > thead > tr > td:first-child {
  border-left: 1px solid #e4dee9 !important;
}
#client_details > thead > tr > td {
  border-bottom: none;
}
#client_details > tbody > tr:last-child > td {
  border-bottom: 1px solid #e4dee9 !important;
}
.client-cta-1 {
  padding-top: 4px;
  padding-bottom: 15px;
}
.client-cta-2 img,
.client-cta-1 img {
  vertical-align: baseline;
}
.rela-cont-x {
  min-height: 90px;
  text-align: center;
  padding-top: 34px;
}
.client-container {
  background: #faf8fb;
  border: 1px solid #e4dee9 !important;
}
#relationship-text {
  font-size: 14px;
  font-weight: bolder;
  color: #a799b3;
  vertical-align: middle;
}
.contact-info {
  padding-top: 30px;
  padding-left: 20px;
}
.client-form-mini-x select,
.client-form-mini-x input {
  font-size: 12px;
  height: 26px;
}
.client-form-mini-x label {
  text-transform: uppercase;
  font-size: 10px;
}
.client-form-mini-x label > span {
  text-align: left;
  float: left;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.add-infox {
  height: 26px;
  width: 26px;
  padding: 0;
  background: #544890;
  vertical-align: -webkit-baseline-middle;
}
.remove-padd {
  padding: 0;
}
.pad-l-10 {
  padding-left: 10px !important;
}
.form-mini-cont {
  background: #fff;
  padding: 30px 40px;
  border: 1px solid #d3ccd7;
  border-radius: 10px;
}
.hyphenate {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.address-form-x .form-group > label {
  text-transform: uppercase;
  font-size: 10px;
}
.input-group-x {
  text-align: center;
}
.contact-info textarea {
  font-size: 12px !important;
}
.info-heading-o {
  font-size: 14px;
  font-weight: bolder;
  color: #705e7b !important;
}
.top-30 {
  margin-top: 30px;
}
.bot-10 {
  margin-bottom: 10px;
}
#container
  > div:nth-child(2)
  > div
  > div.row
  > div.col-sm-12.col-md-4.col-lg-3
  > div:nth-child(3)
  > div.notes-control
  > button
  > i {
  color: #fff;
}
#letter-x {
  list-style: none;
  text-transform: uppercase;
  position: fixed;
  padding: 0;
  margin-top: 60px;
  width: 20px;
  margin-left: 12.5px;
  margin-right: 12.5px;
}
#contact-table-header {
  width: calc(100% - 50px);
  float: right;
}
ul#letter-x li {
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
ul#letter-x li.active,
ul#letter-x li:hover {
  background: #2dbfc1;
  color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}
#client_details > tbody > tr > td,
.table > tfoot > tr > td {
  border-bottom: 1px solid transparent;
}
.icon-x {
  font-size: 14px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.icon-x.Work:before {
  content: "\f0b1";
}
.icon-x.Home:before {
  content: "\f015";
}
.icon-x.Mobile:before {
  content: "\f10b";
}
.modal-lg {
  width: 1050px;
}
#add_form .control-label {
  text-align: left;
}
.col-sm-7.xbj:after {
  content: " ";
  position: absolute;
  height: 100%;
  width: 1px;
  background: #cec5d3;
  top: 0;
  right: 35px;
}
#add_form input,
#add_form select {
  border-color: #cec5d3 !important;
  border-radius: 2px;
}
.x-radio {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-bottom: -10px;
}
.x-radio li {
  display: inline-block;
  width: 45%;
  height: 32px;
  position: relative;
}
.x-radio label,
.x-radio input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.x-radio input[type="radio"] {
  opacity: 0.011;
  width: 100%;
  z-index: 100;
}
.x-radio input[type="radio"]:checked + label {
  background: #2dbfc1;
  color: #fff;
}
.x-radio label {
  padding: 3px;
  font-size: 14px !important;
  text-align: center;
  float: none;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 90;
}
.x-radio label:hover {
  background: #ddd;
}
/* Customize the label (the cb-x) */
.cb-x {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.cb-x input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
  border:1px solid;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.cb-x:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.cb-x input:checked ~ .checkmark {
  background-color: #2dbfc1;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.cb-x input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.cb-x .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.heading-mria-x {
  text-transform: uppercase;
}
.tagged-x {
  margin-left: 5px;
  color: #6d4d83;
  font-weight: bold;
}
.create-notes .fa {
  color: #fff !important;
}
.green-x {
  color: #fff !important;
}
.modal-header {
  background: #f2eff5;
}
#add_form  .panel-heading,
.modal-header h3 {
  color: #3e3855;
  font-size: 16px;
  font-weight: bold;
}
#add_form .panel-heading {
  font-size: 14px;
}
#add_rel_form textarea {
  height: 50px;
}
#add_rel_form .panel,
#add_form  .panel {
  border: 1px solid #d3ccd7;
  background: #faf8fb;
}
#add_form  .panel-default > .panel-heading {
  color: #3e3855;
  background-color: transparent;
  border-color: transparent;
  padding-bottom: 0;
}
.modal.in .modal-dialog {
  border: 4px solid #403a59;
  border-radius: 5px;
}

.modal-backdrop {
  background: rgba(39,32,67);
}

.modal-backdrop.in {
  opacity: 0.95;
}
.full-ta {
  width: 100%;
  height: 405px !important;
}

#add_form .panel-body {
  min-height: 440px;
}

#x-tooltip i{
  font-size: 24px;
  margin-left: 5px;
}
.pad-2 {
  padding-top:2px;
}

.add-x-x {
  margin-left: 5px;
}
.special-marg-x {
  margin-top:2px;
  margin-right: 8px;
}

.modal-sm {
  width: 400px;
}

.modal-sm  .modal-body{
  padding: 15px 0;
}

#add_rel_form > div > div > div > div:nth-child(4) > div > textarea {
  height: 100px;
}

.main-content > .container {
  background: #EBE8EF !important;
}