<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
    <span>Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <img width="14px" src="assets/images/main/dashboard.svg" alt="phonebook">
                </div>
                <div class="item-inner">
                    <span class="title">Dashboard</span>
                </div>
                <span class="angle-right-x"><i class="ti-angle-right"></i></span>
            </div>
        </a>
    </li>
    <li ng-class="{'active open':$state.includes('app.layouts')}">
        <a ui-sref="app.layouts">
            <div class="item-content">
                <div class="item-media">
                    <img width="14px" src="assets/images/main/contacts.svg" alt="phonebook">
                </div>
                <div class="item-inner">
                    <span class="title">Contacts</span>    
                </div>
                <span class="angle-right-x"><i class="ti-angle-right"></i></span>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.ui.elements">
            <div class="item-content">
                <div class="item-media">
                    <img width="14px" src="assets/images/main/loantools.svg" alt="phonebook">
                </div>
                <div class="item-inner">
                    <span class="title">Loan Tools</span>
                </div>  
                <span class="angle-right-x"><i class="ti-angle-right"></i></span>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.table.basic">
            <div class="item-content">
                <div class="item-media">
                    <img width="14px" src="assets/images/main/insurancetools.svg" alt="phonebook">
                </div>
                <div class="item-inner">
                    <span class="title"> Insurance Tools</span>
                </div>
                <span class="angle-right-x"><i class="ti-angle-right"></i></span>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <img width="14px" src="assets/images/main/workflow.svg" alt="phonebook">
                </div>
                <div class="item-inner">
                    <span class="title">Work Flow</span>
                </div>
                <span class="angle-right-x"><i class="ti-angle-right"></i></span>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <img width="14px" src="assets/images/main/communicate.svg" alt="phonebook">
                </div>
                <div class="item-inner">
                    <span class="title">Communicate</span>
                </div>
                <span class="angle-right-x"><i class="ti-angle-right"></i></span>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <img width="14px" src="assets/images/main/report.svg" alt="phonebook">
                </div>
                <div class="item-inner">
                    <span class="title">Report</span>
                </div>
                <span class="angle-right-x"><i class="ti-angle-right"></i></span>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <img width="14px" src="assets/images/main/commission.svg" alt="phonebook">
                </div>
                <div class="item-inner">
                    <span class="title">Commission</span>
                </div>
                <span class="angle-right-x"><i class="ti-angle-right"></i></span>
            </div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <img width="14px" src="assets/images/main/resources.svg" alt="phonebook">
                </div>
                <div class="item-inner">
                    <span class="title">Resources</span>
                </div>
                <span class="angle-right-x"><i class="ti-angle-right"></i></span>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.maps">
            <div class="item-content">
                <div class="item-media">
                    <img width="14px" src="assets/images/main/referrals.svg" alt="phonebook">
                </div>
                <div class="item-inner">
                    <span class="title">Referral</span>
                </div>
                <span class="angle-right-x"><i class="ti-angle-right"></i></span>
            </div>
        </a>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
<!-- start: FEATURES -->
<div class="navbar-title">
    <span>USERS</span>
</div>
<ul class="folders">
    <li>
        <a ui-sref="landing.welcome">
            <div class="item-content">
                <div class="item-media">
                    <img width="14px" src="assets/images/main/feedback.svg" alt="phonebook">
                </div>
                <div class="item-inner">
                    <span class="title"> Feedback </span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="http://www.cliptheme.com/demo/packet/LAYOUT-RTL-2/" target="_blank">
            <div class="item-content">
                <div class="item-media">
                    <img width="14px" src="assets/images/main/users.svg" alt="phonebook">
                </div>
                <div class="item-inner">
                    <span class="title">Users</span>
                </div>
            </div>
        </a>
    </li>
    <li id="customise-theme-x">
        <a href="http://www.cliptheme.com/demo/packet/LAYOUT-RTL-2/" target="_blank">
            <div class="item-content">
                <div class="item-media">
                    <img width="14px" src="assets/images/main/customise.svg" alt="phonebook">
                </div>
                <div class="item-inner">
                    <span class="title"> Customise Theme </span>
                    <span>&nbsp;</span>
                    <img width="14px" src="assets/images/main/new.svg" alt="phonebook">    
                </div>
                
            </div>
        </a>
    </li>
</ul>
<div class="navbar-title last center">
    <span>&copy; Copyright 2016 NZFSG</span>
</div>

<!-- end: FEATURES -->