<!-- start: TOP NAVBAR -->
<header id="upper_nav_bar_container" class="navbar navbar-default navbar-static-top hidden-print">
    <!-- start: NAVBAR HEADER -->
    <div class="navbar-header">
        <button href="javascript:void(0)" class="menu-mobile-toggler btn no-radius pull-left hidden-md hidden-lg" id="horizontal-menu-toggler" ng-click="menuToggle()" v-pressable>
            <i class="fa fa-bars"></i>
        </button>
        <button href="javascript:void(0)" class="sidebar-mobile-toggler btn no-radius pull-left hidden-md hidden-lg" id="sidebar-toggler" ng-click="toggle('sidebar')" v-pressable>
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" ui-sref="app.dashboard"> <img width="80px" ng-src="{{app.layout.logo}}" alt="{{app.name}}" /> </a>
        <a class="navbar-brand navbar-brand-collapsed" ui-sref="app.dashboard"> <img width="180px" ng-src="{{app.layout.logoCollapsed}}" alt="" /> </a>
        <button class="btn pull-right menu-toggler visible-xs-block" id="menu-toggler" ng-click="navbarCollapsed = !navbarCollapsed" v-pressable>
            <i ng-class="navbarCollapsed ? 'fa fa-folder' : 'fa fa-folder-open'"></i> <small><i class="fa fa-caret-down margin-left-5"></i></small>      	
        </button>
    </div>
    <!-- end: NAVBAR HEADER -->
    <!-- start: NAVBAR COLLAPSE -->
    <div class="navbar-collapse collapse" uib-collapse="navbarCollapsed" ng-init="navbarCollapsed = true" off-click="navbarCollapsed = true" off-click-if='!navbarCollapsed' off-click-filter="'#menu-toggler'">
        <ul id="upper_navbar" class="nav navbar-left hidden-sm hidden-xs">
            <li class="sidebar-toggler-wrapper">
                <div>
                    <button href="javascript:void(0)" class="btn sidebar-toggler visible-md visible-lg bars-drop-down" ng-click="app.layout.isSidebarClosed = !app.layout.isSidebarClosed" v-pressable>
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </li>
            <li>
                <a ng-click="goFullscreen()"> <i class="fa fa-expand" ng-show="!isFullscreen"></i> <i class="fa fa-compress" ng-show="isFullscreen"></i></a>
            </li>
            <li>
                <form role="search" class="navbar-form main-search">
                    <div class="form-group">
                        <input type="text" placeholder="{{ 'search.PLACEHOLDER' | translate }}" class="form-control">
                        <button class="btn search-button" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </li>
            <li class="sidebar-toggler-wrapper padd-5">
                <div>
                    <button href="javascript:void(0)" class="btn sidebar-toggler visible-md visible-lg recently-viewed-x" v-pressable>
                        <img width="14px" src="assets/images/main/recently_viewed.svg" alt="phonebook">
                    </button>
                </div>
            </li>
            <li class="sidebar-toggler-wrapper padd-5">
                <div>
                    <button href="javascript:void(0)" class="btn sidebar-toggler visible-md visible-lg launch-icon-button" ng-click="app.layout.isSidebarClosed = !app.layout.isSidebarClosed" v-pressable>
                        <img width="14px" src="assets/images/main/launch.svg" alt="phonebook">
                    </button>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-right" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
            <!-- start: MESSAGES DROPDOWN -->
            <!-- /// controller:  'InboxCtrl' -  localtion: assets/js/controllers/InboxCtrl.js /// -->
            <li class="">
                <p class="current-user-name">Welcome Back, <span>Amer Al Barkawi</span><i class="fa fa-caret-down"></i></p>
                
            </li>
            <li class="dropdown gear-x" uib-dropdown on-toggle="toggled(open)" ng-controller="InboxCtrl">
                <a href class="dropdown-toggle" uib-dropdown-toggle>
                    <img width="14px" class="svg" src="assets/images/main/settings.svg" alt="phonebook">
                </a>
            </li>
            <li class="dropdown gear-x" uib-dropdown on-toggle="toggled(open)" ng-controller="InboxCtrl">
                <a href class="dropdown-toggle" uib-dropdown-toggle>
                    <notification-icon count='scopeVariable'>
                        <img width="14px" class="svg" src="assets/images/main/tag.svg" alt="phonebook">
                    </notification-icon>
                </a>
            </li>
            <li class="dropdown sign-out-x" uib-dropdown on-toggle="toggled(open)" ng-controller="InboxCtrl">
                <a href class="dropdown-toggle" uib-dropdown-toggle>
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            </li>
            <!-- end: MESSAGES DROPDOWN -->
            <!-- start: ACTIVITIES DROPDOWN -->
            <li class="dropdown gear-x" uib-dropdown on-toggle="toggled(open)" ng-controller="InboxCtrl">
                <a href class="dropdown-toggle" uib-dropdown-toggle>
                    <notification-icon count='scopeVariable'>
                        <img width="14px" class="svg" src="assets/images/main/notification.svg" alt="phonebook">
                    </notification-icon>
                </a>
            </li>
        </ul>
        <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
        <div class="close-handle visible-xs-block menu-toggler" ng-click="navbarCollapsed = true" ng-swipe-up="navbarCollapsed = true">
            <div class="arrow-left"></div>
            <div class="arrow-right"></div>
        </div>
        <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
    </div>
</header>
<div data-ng-include=" 'assets/views/partials/horizontal-menu.html' " class="navbar navbar-default horizontal-menu collapse" uib-collapse="horizontalNavbarCollapsed" off-click="menuInit(true)" off-click-if='!horizontalNavbarCollapsed' off-click-filter="'#horizontal-menu-toggler'">

</div>
<!-- end: HORIZONTAL MENU -->
